:root {
  --main-font-family: "Montserrat", sans-serif;
  --main-font-size: 20px;
  --main-color: #000000;
  --main-padding: 10px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body,
h1 {
  margin: 0;
}

button {
  border: none;
  font: inherit;
  background-color: inherit;
}
